# .github/workflows/tests.yml
name: Tests
on: pull_request

jobs:
  tests:
    name: test with ${{ matrix.py }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.11"
          - "3.10"
          - "3.9"
        os:
          - ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python ${{ matrix.py }}
        uses: actions/setup-python@v4
        with:
          cache: 'pip'
          python-version: ${{ matrix.py }}

      - name: Verify Python Installation
        run: python --version

      - name: Install tox-gh
        run: python -m pip install tox-gh>=1.2

      - name: Setup test environment
        run: tox run -e coverage --notest

      - name: Measure coverage.
        run: tox run -e coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml, coverage.xml
