# .github/workflows/type-lint.yml
name: Type-lint
on: push
jobs:
  type-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup python 3.11
        uses: actions/setup-python@v4
        with:
          cache: 'pip'
          python-version: "3.11"

      - name: Install tox-gh
        run: pip install tox-gh

      - name: Run flake8
        run: tox run -e lint

      - name: Run mypy
        run: tox run -e type
